small {
    font-size: 75%;
  }
  
  header {
    background-color:rgba(0, 0, 0, 0.9);
    border: rgba(0, 0, 0, 0) solid 3px;
  }
  
  .site-title {
    color: rgb(251, 247, 9);
    text-align: center;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: rgb(238, 215, 123);
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    list-style-type: none;
  }
  
  nav .container a {
    color: cornsilk;
  }
  
  nav .container a:hover {
    color: rgb(0, 0, 0);
  }